* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.home,
.about,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.contact {
  background-image: url('../public/images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.about {
  margin: 0;
  padding: 0;
  background-image: url('../public/images/pexels-kampus-production-8636603.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about-title {
  margin-bottom: 8px;
  color: #ffffff;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
}
.about-text {
  font-size: 20px;
  padding: 20px 0px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(1, 1, 1, 1);
}
.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
.contact-name,
.contact-email,
.contact-message {
  padding: 6px;
}
.login,
.signup {
  background-image: url('../public/images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
