* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.home,
.contact,
.about,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.contact {
  color: #000;
  font-size: 100px;
}

.about {
  margin: 0;
  padding: 0;
  background-image: url('../public/images/code6.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about-title {
  margin-bottom: 8px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.about-text {
  font-size: 20px;
  padding: 20px 80px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(1, 1, 1, 1);
  /* border: 1px solid black transparent; */
}
.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
.contact-name,
.contact-email,
.contact-message {
  padding: 6px;
}

/* .sign-up {
  background-image: url('../public/images/code3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */
